.buttonsContainer {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.clock {
}

.watch {
  margin-bottom: 8px;
}

.watch strong {
}

.more {
  margin-bottom: 27px;
  color: rgba(0, 0, 0, 0.5);
}
