.container {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  max-width: 200px;
}

.number:first-child {
  margin-right: 12px;
}

.number:last-child {
  margin-left: 12px;
}
